body {
    font-family: 'Open Sans', sans-serif;
    background-color: #222;
    color: darkorange;
}

a {
    color: darkorange;
    text-decoration-color: darkorange;
}

hr {
    color: darkgrey;
}

li {
    list-style-type: decimal;
}

li:hover {
    background-color: #333;
}